/* -------------------------------------------------------------------------------------------*/
/* 
                                 .                  .                                   
                                  +h                  d-                                  
                                  mo:                /ho                                  
                                 :M-s                dh+.                                 
                                 yM-s`              .Mh.+                                 
                                 NM-::      ++      +Mh s                                 
                                -MM-`o     `mo      hMh s                                 
                                /MM- y     +N-/     mMh +-                                
                                +MM- y     dN s     NMh :/                                
                                sMM- y    `MN s    `MMh -+                                
                                yMM- s`   -MN +-   .MMh .o                                
                                hMM- o.   :MN -/   -MMh `s                                
                                dMM- +- + /MN .o + :MMh  y                                
                                mMM- /::M`+MN `o.M-/MMh  y                                
                                mMM- //sM/+MM `o+Ms+MMh  y                                
                               `/+ds++-oNy+MM `oyNo:oyd/++`                               
                              yMMN+-mMMm:ddMM `dd/NMMd-+MMMs                              
                              //sNmyMy+o-dMMM  Md:o+yMyNNo//                              
                                 .NMo``dNhsMM  shNd``sMN.                                 
                                 mMsMo  . /mM./: .  sMsMd                                 
                          :+/.   /Mo+N/.smms//smms./N/sM:   ./+:                          
                        .:MMMd-.` +Ny/hd+.sMssMs.+dh:yN/ `.-dMMM:.                        
                        d.mMM.mMN. .yNs/oh.mMMm.h+/yMy. -NMm.MMm.d                        
                        +s+MM.NMMo /mmohmh`mMMm`dmhomm: oMMN.MM+s+                        
                     /dmds+MMh:NMs/MM+   :yMMMMy:   oMM/sMN:hMMs:o/+/                     
                  `oNMNy:/NMMMm/ym:yho.. `/sMMs/` ..ohs:my/mMMMMd/. `//`                  
                .sNdo- `-h//ohMMo/MmdmMM+/sNMMNs/+MMmdmM/sMMho//NMMms/`:/.                
              -yho/:::::`     .dM/hMMMMMmy//MM/+ymMMMMMh/Md.     .:+shmdoo/-              
            :ys/:-`          ./hM/yMMMMMMMM.hh.MMMMMMMMh:dy/.          `-/oss:            
           `                `NMMy yo.``./yNm--mNy/.``.oMo  `s`                `           
                            yMMs  -+      oMN`o+      oMMh` `o                            
                           :MM+ `/:      yMMM  `o      :mMm. ::                           
                          `mM/ //        /MMM  ./        +NN: o`                          
                          sN:-/`          NMM  +          `sMo`+                          
                         -N/+.            oMM `+            .hh/-                         
                         ho:              .MM /.              :ys                         
                        ++                 hM o                 ++                        
                        `                  :M-:                  `                        
                                            mo                                            
                                            ++                                            
                                            ``                                            
                        G  L  O  R  Y    T  O    M  A  N  K  I  N  D
*/
/* -------------------------------------------------------------------------------------------*/            




            /* -- ------------------------ -- */
            /* -- Importing external fonts -- */
            /* -- ------------------------ -- */

@font-face {font-family: 'NieR Title'; src: url("../fonts/Benguiat Book.ttf");}
@font-face {font-family: 'NieR HUD'; src: url("../fonts/SCE-PS3-RD-R-LATIN.TTF");}

            /* -- ------------------------ -- */
            /* -- ------------------------ -- */
            /* -- ------------------------ -- */



@keyframes YORHAUNITDECEASEDBLINKSCORE {
  0% {background-color: rgb(77, 73, 62);}
    25% {background-color: rgba(172,27,27,1.00);}
      50% {background-color: rgb(77, 73, 62);}
        75% {background-color: rgba(172,27,27,1.00);}
          100% {background-color: rgb(77, 73, 62);}
}

body, html {
        backgroun-image: url();
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        scroll-behavior: smooth;
        background-color: #C8C2AA;
        background-image: -webkit-linear-gradient(left, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
        -webkit-linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
        background-image: -o-linear-gradient(left, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
        -o-linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
        background-image: linear-gradient(to right, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
        linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
        color: #4D493E;
}

#confirm {
	    opacity: 1;
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    background: #FFF;
	    width: 100%;
	    z-index: 100000;
}

::-webkit-scrollbar { 
        display: none; 
}

#kopfbereich {
        position: fixed;
        top: 0;
        left: 0;
        /*background: linear-gradient(130deg, #4D493E 1%, #C8C2AA 50%);*/
        background-color: rgba(77,73,62,1.00);
        width: 100%;
        height: 100px;
        z-index: 2
        }

#kopfbereich p {
        padding-top: 30px; 
        padding-bottom: 0;
        padding-left: 50px;
        padding-right: 0;
        font-family: 'NieR Title';
        text-transform: uppercase;
        font-size: 1px;
        color: white;
}


#navibereich {
        position: fixed;
        top: 100px;
        left: 0;
        /* border: 1px solid #ccc; */
        background-color: #0D0E0F;
        width: 200px;
        min-height: 400px;
        z-index: 2;
        border-right: 2px solid #C8C2AA;
        border-bottom: 2px solid #C8C2AA;
        }

#textbereich {
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        padding-left: 210px;
        padding-right: 210px;
        padding-top: 20px;
        padding-bottom: 60px;
        height: 100%;
        overflow-y: auto;
        background: rgb(26, 28, 33);
        background-color: #C8C2AA;
        background-size: 4px 4px;
        background-image: -webkit-linear-gradient(left, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
        -webkit-linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
        background-image: -o-linear-gradient(left, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
        -o-linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
        background-image: linear-gradient(to right, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
        linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
        color: #4D493E;
        }

            /* ------------------------------------------------------ */
            /* -- Text Area specific style setting, main edit /MS/ -- */
            /* ------------------------------------------------------ */

        #textbereich code {background-color: #4d493e; color: white; font-size: 80%;}
        #textbereich .highlight-title {background: #35322F; color: #FFFFFF; padding-right: 0px; padding-left: 5px; border-radius: 5px; padding-bottom: 1px; padding-top: 1px;  font-weight: bold;}
        #textbereich a {color: #4D493E;}
        #textbereich .external-link:after {content: '\00a0 \00a0 [externer Link]'; color: #75757A; font-size: 9px;}
        #textbereich p {font-family: 'NieR HUD', sans-serif; color: #4D493E; font-size: 16px;}
        #textbereich .quote-cut {border-top: 1px solid #0d0e0f; width: 25%;}
        #textbereich .title-textarea {font-family: 'NieR Title'; font-stretch: wider; letter-spacing: 5px; font-size: 32px; font-weight: bold; text-transform: uppercase; text-align: center;}
        #textbereich .title-sub {font-family: 'NieR Title'; font-size: 28px; font-weight: bold;}
        #textbereich .hint a {text-decoration: none; color: #007EEE;}
        #textbereich .char-img {align-content: center;}
        #textbereich .spoiler {background-color: #4d493e; color: #4d493e; transition: 0.5s; border-radius: 12px; padding: 6px; width: 100%;}
        #textbereich .spoiler:hover {background-color: #0d0e0f; color: white; transition: 0.5s; border-radius: 5px; width: 100%;}
        #textbereich .spoiler-pre-warn {font-family: 'NieR HUD'; background-color: #0d0e0f; padding: 5px; font-size: 16px; color: white; border-radius: 3px;}
        #textbereich .hint {background: #0d0e0f; color: white; padding: 6px; box-shadow: 5px 5px 0px #4d493e; transition: 0.3s;}
        #textbereich .intel-desc {border-left: 0; background-color: #4d493e; box-shadow: 5px 5px 0px #0d0e0f; color: white; padding-top: 1px; padding-bottom: 12px;}
        #textbereich .intel-desc > p {color: white;}
        #textbereich .cutter {border-top: 1px solid #0d0e0f; width: 50%;}
        #textbereich .lang-jp {font-family: "M PLUS 1p";}
        #textbereich .intel-desc h3 {font-family: 'Georgia';}
        #textbereich .charref {color: #007FFF; transition: 0.3s;}
        #textbereich .charref:hover {text-decoration: none; text-shadow: 1px 1px 1px #0d0e0f; transition: 0.3s;}
        #textbereich .time-head-text {font-weight: 700; font-stretch: wider; font-family: 'NieR Title'; color: #4D493E; font-size: 20px;}
        #textbereich #niertime {font-size: 16px; font-weight: normal; letter-spacing: normal; font-family: 'NieR HUD'; background: #4d493e; color: #FFFFFF; padding-right: 5px; padding-left: 5px; border-radius: 0px; padding-bottom: 1px; padding-top: 1px; box-shadow: -3px -3px 3px #0d0e0f, 3px 3px 3px #0d0e0f; border: 1px solid #0d0e0f;}
        #textbereich #lunartime {font-size: 16px; font-weight: normal; letter-spacing: normal; font-family: 'NieR HUD'; background: #4d493e; color: #FFFFFF; padding-right: 5px; padding-left: 5px; border-radius: 0px; padding-bottom: 1px; padding-top: 1px; box-shadow: -3px -3px 3px #0d0e0f, 3px 3px 3px #0d0e0f; border: 1px solid #0d0e0f;}

            /* -- ------------------------------------------------ -- */
            /* -- ------------------------------------------------ -- */
            /* -- ------------------------------------------------ -- */


            /* --- Hint link for p/ds enlargement -- */
        #textbereich .hint:hover {box-shadow: 5px 5px 0px #6B6962; transition: 0.3s; font-size: 110%;}
            /* ------------------------------------- */
        
            /* --- Enlarge images on hover -- */
        #textbereich .char-img {width: 100px; transition: 0.6s; cursor: zoom-in;}
        #textbereich .char-img:hover {position:relative; width: 300px; height: auto; display: block; z-index: 999; transition: 0.6s;}
            /* ------------------------------ */
        
            

            /* --------------------------- */
            /* News Area Main Edit Section */
            /* --------------------------- */

#newsbereich {
        position: fixed;
        right: 0px;
        top: 100px;
        background-color: #0D0E0F;
        border-left: 2px solid #C8C2AA;
        border-bottom: 2px solid #C8C2AA;
        border-top: 2px solid #0d0e0f;
        width: 200px;
        min-height: 400px;
        z-index: 2;
        }

        #newsbereich .news-headline { text-align: center; color: white; text-decoration: underline; font-weight: bold; }
        #newsbereich .news-item     { color: white; list-style: none; font-style: italic; text-align: center; width: 90%; align-content: center;}

        /* --------------------------- */
        /* --------------------------- */
        /* --------------------------- */


        /* ----------------------------------- */
        /* -- Footer Area Main Edit Section -- */
        /* ----------------------------------- */

#fussbereich {
        position: fixed;
        padding-bottom: 18px;
        padding-top: 0.5px;
        bottom: 0;
        left: 0;
        /* border: 1px solid #ccc; */
        text-align: center;
        font-family: 'Arial';
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        height: 50px;
        z-index: 2;
        }

        #fussbereich p {font-family: 'Arial'; color: white;}



        /* --------------------------------------- */
        /* -- Styling Section of Left-Side Menu -- */
        /* --------------------------------------- */

        #navibereich .nav {text-align: right; list-style-type: none; margin: 20px 5px;}
        #navibereich .nav > li {float: none;}

#navibereich .nav > li > a {
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #FFF;
        display: block;
        transition: all 0.2s;
        line-height: 35px;
        text-decoration: none;
        padding-right: 10px;
}

#navibereich .nav > li > a.active {
        font-weight: 700;
        text-shadow: 1px 1px black, 2px 2px white, 3px 3px black;
        color: #FFF;
}

#navibereich .nav > li > a:hover {
        font-weight: 700;
        font-style: bold;
        background: #4D493E;
        text-shadow: 1px 1px, grey, 2px 2px grey, 3px 3px grey;
        color: #FFF;
        transition: all 0.2s ease-out 0s;
}

#navibereich .nav > li > a:focus {
        font-weight: 700;
        font-style: bold;
        text-shadow: 1px 1px, grey, 2px 2px grey, 3px 3px grey;
        color: #2A2A2A;
        background: #C8C2AA;
        transform: background rotate(180deg);
}

        /* --------------------------------------- */
        /* --------------------------------------- */
        /* --------------------------------------- */

::selection {
        background-color: #4d493e;
        color: #FFF;
}

.highlight-default {
        background: linear-gradient(135deg, #21d4fd 1%, #b721ff 75%);
        color: black;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 5px;
}

.highlight-nograd {
        background: rgba(255, 174, 0, 1.00);
        color: #1a1c21;
        padding-right: 0px;
        padding-left: 5px;
        border-radius: 5px;
        padding-bottom: 1px;
        padding-top: 1px;
        font-weight: bold;
}

.showcase {
        margin: 10px 50px;
        line-height: 35px;
}

.hr-text {
    background-color: #2A2A2A;
    height: 4px;
    border: 0;
    border-radius: 6px;
    width: 100%;
}

.hr-thin {
    background-color: #2A2A2A;
    height: 0.5px;
    border: 0;
    border-radius: 2px;
    width: 50%;
    margin-top: 30px;
}

.warning {
    border-radius: 5px;
    color: rgba(216,216,216,1.00);
    padding: 2.5px;
    animation-name: YORHAUNITDECEASEDBLINKSCORE;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.critic-list li {
    display: inline-block;
    font-size: 19px;
    font-family: 'NieR HUD';
}

.npc-info {
    background-color: #FFF;
    padding: 2px;
    border-radius: 5px;
    transition: 0.5s;
}

.npc-info:hover {background-color: #D5D5D5; transition: 0.5s;}
.quote { border-left: 8px solid #0d0e0f; background-color: rgba(44, 46, 48, 1.00); color: white; margin-left: 50px; font-family: 'NieR HUD';}



            /* ----------------------------------------- */
            /* -- FLEX BOX SCREENSHOT CONTROL (error) -- */
            /* ----------------------------------------- */

        .screenshots {margin: 30px; display: flex; flex-direction: row; flex-wrap: nowrap; width: 300px; height: 80px; padding: 10px; margin-top: auto;}
        .screenshots > .screenshot-showcase {flex:1 1 auto; text-align: left; margin: 10px;}
        .screenshot-showcase {font-family: 'NieR HUD';}

            /* ----------------------------------------- */
            /* ----------------------------------------- */
            /* ----------------------------------------- */

        #textbereich .highlight-for-later-edit {background-color: yellow;}